{{ define "main" }}
<section class="hero">
    <div class="hero-content">
        <img src="{{ .Site.Params.profileImage | relURL }}" alt="Profile Image" class="profile-image">
        <h1>{{ .Site.Params.name }}</h1>
        <p>{{ .Site.Params.bio }}</p>
        <div class="social-icons">
            {{ range .Site.Params.social }}
            <a href="{{ .url }}" target="_blank" class="social-link">
                <i class="{{ .icon }}"></i>
            </a>
            {{ end }}
        </div>
    </div>
</section>

{{ end }}